%h1 Matching Algorithm
%p Successful matching is achieved by a three step process:
%ol
	%li 
		%strong Filtering candidate vehicles
		%p Only vehicles within 10 mins of the passenger are selected.
	%li
		%strong Biased auction to choose a vehicle
		%p Candidate vehicles are asked to bid on the passenger. Dispatcher may not choose highest bid.
	%li
		%strong Notification of assignment
		%p Driver and passenger are notified of route change and pickup time, respectively.
