%h1 For Drivers
%h2 bus+ keeps you busy.
%p 
	With our iPhone/iPad app, you have a direct connection to your passengers. 
	We'll assign nearby passengers to you and notify you to pick them up.
	You'll receive an alert with updated waypoint navigation every time a passenger is assigned.
	No need to collect a fare by cash or credit card.
	bus+ handles all the billing automagically.

%h2 
	Learn More: 
	= link_to 'https://github.com/agoodman/busplus-driver-ios/wiki', 'https://github.com/agoodman/busplus-driver-ios/wiki'
