%h2 Passengers
%p 
	Get where you need to go without all the hassles of driving, parking, insurance, tickets, and upkeep.
	Pay per mile or per minute, whichever is greater.
	Support local economy by paying professional drivers instead of car loan lenders.
	Never worry again about having too much to drink at a party.

%h2 Drivers
%p
	Reduce or even eliminate downtime with our on-demand automated dispatching service.
	Take on multiple fares at the same time, increasing hourly income.
	Reduce total fuel cost to transport passengers to their destinations.
	No need to collect fare. bus+ pays you via automated accounting.

%h2 Developers
%p 
	bus+ is an open standard, 
	= link_to 'hosted on github.', 'https://github.com/agoodman/bus_plus'
	Contribute to the project by forking the repo and sending a pull request.
	Or, use our
	= link_to ' RESTful web service API', api_path
	to tie your system into ours.
