%h1 For Passengers
%h2 bus+ gets you there.
%p 
	With our iPhone app, you simply enter your pickup and drop-off details. 
	We'll match you to a nearby participating driver and notify them to pick you up.
	You'll receive an alert when your ride is 5 mins away and again when the driver arrives.
	When you arrive at your destination, you simply leave the vehicle and go on about your day.
	bus+ handles all the billing automagically.

%h2 
	Learn More: 
	= link_to 'https://github.com/agoodman/busplus-ios/wiki', 'https://github.com/agoodman/busplus-ios/wiki'
