%h1 Passengers::Path
- if @path.waypoints.empty?
  %p There are no waypoints in this path.
- else
  %ul
    - @path.waypoints.each do |waypoint|
      %li
        = waypoint.latitude
        , #{waypoint.longitude} @ #{waypoint.arrival_time.to_s(:long)}
%p= link_to 'Add Waypoint', new_passenger_path_waypoint_path(@passenger)
